parameters:
    level: 5
    phpVersion: 80400
    paths:
        - app
    excludePaths:
        - app/Console/Kernel.php
        - app/Http/Middleware
        - app/Providers
    parallel:
        processTimeout: 1800.0
    ignoreErrors:
        - message: '#^Access to protected property .* of class .*#'
          path: app/Models
          count: 5
    typeAliases:
        ID: int|string
